.c-searchBox {
  position: relative;
  &Icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: $gray;
    width: 2rem;
  }
  &Input {
    background-color: $black;
    color: $white;
    padding: .8rem 1rem .8rem 3.5rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    border: none;
    width: 15rem;
  }
}
