.c-stats {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  background-color: $black;
  padding: .5em 3rem;
  border-radius: 3rem;
  color: $light-gray;
  &__period {
    background-color: transparent;
    color: $light-gray;
    border: none;
    outline: none;
    cursor: pointer;
    padding: .5rem;
    border-radius: 0.5em;
    transition: all 300ms;
    &:hover {
      background-color: rgba($color: $white, $alpha: 0.05);
    }
  }
  &__divider {
    border-right: 1px solid #444;
    height: 2rem;
  }
}
